<h2>Your Team</h2>

<% @coders.each_slice(4) do |coder| %>
  <div class="row">
    <% attributes = "attributes" %>
    <%= render partial: "shared/list", locals: { coder: coder, attributes: attributes } %>
  </div>
<% end %>

<p>
  team size: <%= @team.total %>
</p>
