<h2>Your Team</h2>

<% @coders.each_slice(4) do |coder| %>
  <div class="row">
    <% attributes = "attributes" %>
    <%= render partial: "shared/list", locals: { coder: coder, attributes: attributes } %>
  </div>
<% end %>

<div class="create-team">
  <p><strong>Total Cost:</strong> $<%= @team.total_cost %></p>
  <p><%= team_page_login %></p>
</div>
