<div class="container">
    <div class="page-header">
      <h1>My Trips</h1>
    </div>
    <div class="trips">
      <% @trips.each do |trip| %>
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>Past Trips</th>
            </tr>
          </thead>
          <tbody>
            <h3>
            Trip Booked on <%= trip.word_date(trip.created_at) %>
            for <%= trip.reservations.count %> basement(s)
            </h3>
          </div>
          <div class="panel-body">
            <div class="trip-info">
              <tbody>
              <% trip.reservations.each do |reservation| %>
                <td><%= Home.find(reservation.home_id).title %></td>
                <td><% if trip.reviewed? %>
                  <%= button_to "Review this Trip", new_review_path %>
                <% end %></td>
            <% end %>
            </div>
          </div>
      <% end %>
</div>
