<h2>Contract History</h2>

<% @contracts.each_with_index do |contract, index| %>
  <%= "Order #{index + 1}" %>
  <%= contract.created_at %>
  <%= link_to "View", contract_path(contract.id), class: "button" %>
<% end %>
