<h2>Dashboard</h2>

<div class="user-show">
  <h3>Name</h3>
  <p><%= current_user.name %></p>
  <h3>Username</h3>
  <p><%= current_user.username %></p>
  <h3>Email</h3>
  <p><%= current_user.email %></p>
  <h3>Organization</h3>
  <p><%= current_user.organization %></p>
</div>
