<h1>User Dashboard</h1>
<% if current_user.host? %>
  <%= link_to "Manage Your Home", edit_home_path(current_user.home.city, current_user.home) %>
<% end %>
<div class="user-show">
  <h3>Name</h3>
  <p><%= current_user.first_name %></p>
  <h3>Username</h3>
  <p><%= current_user.last_name%></p>
  <h3>Email</h3>
  <p><%= current_user.email %></p>
</div>
