<h1>User Dashboard</h1>
<%= "Manage Your Home" %>
<!-- error is that there is no id for user we don't know who the user is -->
<div class="user-show">
  <h3>Name</h3>
  <p><%= current_user.first_name %></p>
  <h3>Username</h3>
  <p><%= current_user.last_name%></p>
  <h3>Email</h3>
  <p><%= current_user.email %></p>
</div>
