<% coder.each do |coder| %>
  <div class="one-quarter">
    <div class="percent-90">
      <p><%= coder.name %></p>
      <img src="<%= coder.image_url %>" width="100%">
      <%= render partial: attributes, locals: { coder: coder } %>
    </div>
  </div>
<% end %>
