<div class="header">
  <div class="container">

  <div class="dropdown">
    <h3>Choose your destination:</h3>
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      All Cities
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% @cities.each do |city| %>
        <li><%= link_to city.name_and_state, city_path(city.slug) %></li>
      <% end %>
    </ul>
  </div>

  </div>
</div>
