<div= "containter">
<div class="col md- 4 card">
  <div class="pending-homes-page">
    <h1>Pending Homes</h1>
    <table class="table">
      <%= render partial: "home_table" %>
    </table>
  </div>
</div>
</div>
