
    <div class="cover">
      <div class="cover-image" style="background-image : url('http://www.newyorker.com/wp-content/uploads/2014/11/141124_r25791-1200.jpg')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-inverse">Hire a Genius</h1>
            <p class="text-inverse"></p>
            <br>
            <br>
            <%= link_to "Your Dream Coder", coders_path, class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
 
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">

                     </div>
          <div class="col-md-6">
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center text-primary">Team</h1>
            <p class="text-center">We are a group of skilled individuals.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
       
            <h3 class="text-center"> Sal</h3>
            <p class="text-center">Team Talent Manager</p>
          </div>
          <div class="col-md-4">
        
            <h3 class="text-center">Thom</h3>
            <p class="text-center">CEO</p>
          </div>
          <div class="col-md-4">
      
            <h3 class="text-center">Hedy </h3>
            <p class="text-center">Office Manager</p>
          </div>
        </div>
      </div>
    </div>

