<div class="jumbotron">
  <h2>Book a Home</h2>
  <%= link_to "Your Dream Coder", coders_path, class: "button link" %>
</div>

<main>
  <div class="text-center">
    <h3>Team</h3>
    <p>We are a group of skilled individuals.</p>
  </div>
  <div class="row">
    <div class="one-third">
      <h4 class="text-center"> Marina</h4>
      <p class="text-center">Team Talent Manager</p>
    </div>
    <div class="one-third">
      <h4 class="text-center">Amir</h4>
      <p class="text-center">CEO</p>
    </div>
    <div class="one-third">
      <h4 class="text-center">Matt </h4>
      <p class="text-center">Office Manager</p>
    </div>
  </div>
</main>
