<div class="center-60">
  <div class="left"><%= render "shared/contract" %></div>
  <div class="right">
    <p><strong>Client:</strong> <%= @contract.user.name %></p>
    <p><strong>Email: </strong> <%= @contract.user.email %></p>
  </div>

</div>
