<h2>All Items</h2>

<% @items.each_with_index do |item, index| %>
  <% if index%4 == 0 %>
    <div class="row">
  <% end %>
    <div class="col s3">
      <p class="center-align"><%= item.name %></p>
      <span class="center-align"><%= button_to "I'm interested", carts_path(item_id: item.id)%></span>
      <img src="<%= item.image_url %>" width="100%">
    </div>
  <% if index%4 == 1 || index == ( @items.count - 1 )%>
    </div>
  <% end %>
<% end %>
