/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .date-picker-box {
   display: flex;
   padding-right: 6.5em;
 }

 .date-picker-box input {
   margin-right: 1em;
 }

 .login-button {
   color: black;
 }

.header {
  padding-top: 0px;
  padding-bottom: 50px;
  background: url(header_pic.jpg) no-repeat center;
  background-size: cover;
  height: 600px;
}

.login-user-form {
  text-align: center;
  color: white;
  font-size: 130%;
  text-shadow: 1px #899bae;
  background: url(garden_home.jpeg) no-repeat center;
  background-size: cover;
  padding: 250px;
  height: 600px;
}

.create-account-link {
  padding-top: 15px;
  text-decoration: none !important;
  color: black !important;
}

.btn-default {
  color: black;
  text-decoration: none;
}

.button {
  color: black;
  text-decoration: none;
}

.welcome-cities {
  position: inherit !important;
  float: none;
  padding: auto;
}
.welcome-drop {
  text-align: center;
  padding: 230px;
  color: white;
  font-size: 200%;
  text-shadow: 1px #899bae;
}

.single-home {
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.single-home-image {
  border: black solid 1px;
  padding-right: 50px;
  border-radius: 8px;
}

.home-edit-page {
  text-align: center;
  color: white;
  font-size: 130%;
  text-shadow: 1px #899bae;
  background: url(living_room.jpeg) no-repeat center;
  background-size: cover;
  padding: 50px;
  height: 600px;
}

.create-account-page {
  color: white;
  background: url(create_account.jpeg) no-repeat center;
  background-size: cover;
  padding: 150px;
  height: 600px;
}

.form-group-account {
  padding: 25px;
  font-size: 150%;
}

.users-index-page {
  color: #696969;
  padding: 30px;
  padding-left: 50px;
  height: 1000px;
}

.form-group {
  padding: 5px;
}

.city-splash {
  color: white;
  text-align: left;
  background: url(venice.jpeg) no-repeat center;
  background-size: cover;
  padding-top: 20px;
  height: 300px;
}

.dashboard-links {
  padding: 0px;
  color: white;
  font-size: 150%
}

.dashboard-title {
  padding: 20px;
}

.user-edit-title {
  text-align: center;
}

.user-edit-page {
  padding-top: 30px;
  background: url(suitcase.jpeg) no-repeat center;
  background-size: cover;
  color: white;
  height: 700px;

}

.dashboard {
  padding: 0px;
  background: url(suitcase.jpeg) no-repeat center;
  background-size: cover;
  color: white;
  height: 700px;
  text-decoration: none !important;
}

.submission-button {
  text-align: center;
}

.navbar {
  margin-bottom: 0px !important;
}
