/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .date-picker-box {
   display: flex;
   padding-right: 6.5em;
 }

 .date-picker-box input {
   margin-right: 1em;
 }

.header {
  padding-top: 0px;
  padding-bottom: 50px;
  background: url(header_pic.jpg) no-repeat center;
  background-size: cover;
  height: 600px;
}

.navbar {
  margin-bottom: 0px !important;
}

.welcome-cities {
  position: inherit !important;
  float: none;
  padding: auto;
}

.welcome-drop {
  text-align: center;
  padding: 230px;
  color: white;
  font-size: 200%;
  text-shadow: 1px #899bae;
}
