<h2><%= @category.name %></h2>

<% @category.coders.each_slice(4) do |coder| %>
  <div class="row">
    <% attributes = "attributes" %>
    <%= render partial: "shared/list", locals: { coder: coder, attributes: attributes } %>
  </div>
<% end %>
