<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>All Reviews</h1>
    </div>
  <div class="panel-body">
    <% if @reviews.count > 0%>
      <% @reviews.each do |review| %>
        <h3><%= User.find(review.user_id).first_name %> <%= User.find(review.user_id).last_name %>
        said:  "<%= review.thoughts %>"</h3>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
