<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>All Reviews</h1>
    </div>
  <div class="panel-body">
    <% if @reviews.count > 0%>
      <% @reviews.each do |review| %>
        <div class= "review-user"><%= User.find(review.user_id).first_name.capitalize %> <%= User.find(review.user_id).last_name.capitalize %> said:</div>
        <div class="review-body">"<%= review.title.capitalize %>: <%= review.thoughts.capitalize %>"</div>
        <br>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
