<div class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span>Super Coders</span></a>

    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <%= link_to "All Coders", coders_path %>
        </li>
        <li>
          <%= login_logout %>
        </li>
        <li>
          <%= link_to "Your Team (#{@team.contents.keys.count})", teams_path %>
        </li>
      </ul>
    </div>
  </div>
</div>
<nav class="red lighten-1">
  <div class="container">
    <div class="center-align">
      <% @nav_categories.each do |category| %>
        <%= link_to category.name, category_path(category.id), class: "nav-category-links" %>

      <% end %>
    </div>
  </div>
</nav>
