<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">Air B'n'Basement</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right nav-pills">
        <li><%= history_create_account %></li>
        <li><%= login_logout %></li>
        <li><a href="/cart">Cart <span class="badge"><%= @cart.reservations.count %></span></a></li>
      </ul>
    </div>
  </div>
</nav>
